
@{
    ViewBag.Title = "Usuarios";
}



<h3>Registro de Usuarios</h3>
<img src="~/Scripts/logo4.jpeg" width="150"
     height="100">

<h2>@Html.ActionLink("Usuarios", "Index", "Usuarios") </h2>

    </body>
