@{
    ViewBag.Title = "Contact";
}
<h2>Grupo No.</h2>
<h3>Clase: Analisis de Sistemas</h3>

<address>
    Universidad Mariano Galvez de Guatemala<br />
    z2<br />
    <abbr title="Phone">P:</abbr>
    El Zapote Zona 2
</address>

<address>
    <strong>Javier Ramirez:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Daniel Davila:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a><br />
    <strong>Gabriela Diaz:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a><br />
    <strong>Kevin Peralta</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a><br />

    <strong>lo hizo uno dela USAC PERROS:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>