@{
    ViewBag.Title = "Contact";
}
    <img src="~/Scripts/logo4.jpeg" width="150"
         height="100">
<h2>Grupo No.</h2>
<h3>Clase: Analisis de Sistemas</h3>

<address>
    Universidad Mariano Galvez de Guatemala<br />
    Villa Nueva<br />
    <abbr title="Phone">P:</abbr>
    Zona 10 de villa nueva 
</address>

<address>
    <strong>Javier Ramirez:</strong>   <a href="mailto:Support@example.com">javier.ramirezg@gmail.com</a><br />
    <strong>Daniel Davila:</strong> <a href="mailto:Marketing@example.com">daniel.davilae.com</a><br />
    <strong>Gabriela Diaz:</strong> <a href="mailto:Marketing@example.com">gabriela.diazv@gmail.com</a><br />
    <strong>Kevin Peralta</strong> <a href="mailto:Marketing@example.com">kevin.peraltah@gmail..com</a><br />
</address>