@{
    ViewBag.Title = "AUTOMOTRIZ";
}

    <div class="jumbotron">
        <center>
            <h1>AUTOMOTRIZ S.A.</h1>
        </center>

        <center><p class="lead">Ingreso de Vehiculos y Reparaciones en Guatemala.</p></center>

    </div>
<h1>Lista de Catalogos</h1>
<img src="~/Scripts/logo4.jpeg"  width="150"
     height="100">
<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Taller", "Index", "Tallers") </h2>

    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Empleado", "Index", "Empleadoes") </h2>

    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Marca", "Index", "Marcas") </h2>

    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("Repuesto", "Index", "Repuestoes") </h2>

    </div>
  
</div>