
@{
    ViewBag.Title = "Menu";
}

    <img src="~/Scripts/logo4.jpeg" width="150"
         height="100">
<h3>Registro de Ingreso de Cliente</h3>


<h2>@Html.ActionLink("Nuevo Cliente", "Index", "Clientes") </h2>

<h3>Registro de Ingreso de Vehiculo</h3>

<h2>@Html.ActionLink("Registrar Ingreso", "Index", "Ingreso_vehiculo") </h2>

<h3>Detalle y Reparacion total del Vehiculo</h3>

<h2>@Html.ActionLink("Detalle de Facturacion", "Index", "Reparacions") </h2>




