@model Automotriz.Models.MARCA

@{
    ViewBag.Title = "ELIMINACION DE MARCA";
}

<h2>ESTA SEGURO DE ELIMIAR ESTA MARCA?</h2>


<div>
    <h4>MARCA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPCION)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="ELIMINAR" class="btn btn-default" /> |
            @Html.ActionLink("REGRESAR", "Index")
        </div>
    }
</div>
